body {
  background-color:#07106F ;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
div {
  background-color:#7D82B8 ;
  margin: 50px;
  padding-left: 10px;
  padding-top: 0.005%;
  padding-bottom: 0.005%;
  border-radius: 20px;
}
.foto {
  border-radius: 20px;
  float: left;
  margin-right: 50px;
  margin-left: 50px;
  padding: 5px;
  background-color: #7D82B8;
}
p a {
  color: white;
  font-size: 2em;
  display: block;
  text-align: center;
  text-decoration: none;
}
.text{
  display: inline-block;
  padding-right: 400px;
}