body {
  background-color: #185ADB;
}

.nav1 {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 20px;
  background-color: #0A1931;
  margin: 1%;
  margin-left: 12%;
}

.nav2 {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 20px;
  background-color: #0A1931;
  margin: 1%;
}

.nav3 {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 20px;
  background-color: #0A1931;
  margin: 1%;
}

.button {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

#main {
  background-color: #185ADB;
  height: 500px;
  color: white;
  line-height: 30px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}

.foto {
  border-radius: 20px;
  float: left;
  margin-right: 50px;
  margin-left: 10%;
  padding: 5px;
  background-color: #FFC947;
}

#text {
  display: inline-block;
  padding-right: 10%;
  font-size: 20px;
  width: 50%;
}

#skill {
  background-color: #FFC947;
  height: 450px;
  font-size: 20px;
  line-height: 30px;
  padding-left: 10%;
  padding-top: 100px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

#footer {
  background-color: #EFEFEF;
  height: 200px;
  text-align: center;
}

#cont1 {
  display: inline-block;
  margin:auto;
  margin-top: 20px;
  width: 150px;
  padding: 5px 1px;
  text-align: center;
}

#cont1 img {
  width: 100px;
}

#cont2 {
  display: inline-block;
  margin:auto;
  margin-top: 20px;
  width: 150px;
  padding: 5px 1px;
  text-align: center;
}

#cont2 img {
  width: 100px;
}